#header
{
	overflow: hidden;
	animation: header 1s 0.5s both;
}

@keyframes header
{
	from {top: -300px;}
	to {top: 0;}
}

#menu
{
	overflow: hidden;
	animation: menu 1s 3s both;
}

@keyframes menu
{
	from {height: 0;}
	to {height: 465;}
}

#menu div
{
	transition: background-color 0.5s;
}

#menu a
{
	transition: color 0.5s;
}

#news
{

	animation: news 2s 1.5s both;
}

@keyframes news
{
	from {height: 0; border-top-width: 0;}
	to {height: 80px; border-top-width: 1px;}
}

#news p
{
	transition: all 0.5s;
}

#footer
{
	overflow: hidden;
	animation: footer 1s 0.5s both;
}

@keyframes footer
{
	from {height: 0; padding-top: 0;}
	to {height: 22px; padding-top: 8px;}
}