*
{
	margin: 0;
	padding: 0;
}

body
{
	color: #888888;
	font-family: "HelveticaNeueLight", "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", "sans-serif";
	background-color: #000000;
	z-index: 1;
}

@font-face
{
	font-family: HelveticaNeueLight;
	src: url("HelveticaNeueLight.woff");
}

h1
{
	color: #aaaaaa;
	font-size: 16px;
}

#header
{
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #888888;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#header span
{
	float: right;
}

#header a
{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;	
}

#header a:hover
{
	color: #eeeeee	;
}

#news
{
	height: 80px;
	border-top: 1px solid #888888;
	position: fixed;
	bottom: 40px;
	left: 0;
}

#news p
{
	color: #888888;
	background-color: rgba(256, 256, 256, 0.3);
	border-left: 1px solid black;
	height: 100%;
	width: 250px;
	padding: 5px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	bottom: 0;
	vertical-align: top;
}

#news p:hover
{
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.6);
	height: 300%;
	bottom: 200%;
}

#footer
{
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid #888888;
	font-size: 12px;
	height: 22px;
	padding-top: 8px;
	text-indent: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#footer a
{
	color: #999999;
	text-decoration: none;
}

#footer a:hover
{
	color: #cccccc;
}

#footer span
{
	float: right;
	position: absolute;
	right: 10px;
}