#background img
{
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation: fade 30s linear infinite 0s;
}

#background img:nth-child(2) {animation-delay: 6s;}
#background img:nth-child(3) {animation-delay: 12s;}
#background img:nth-child(4) {animation-delay: 18s;}
#background img:nth-child(5) {animation-delay: 24s;}

@keyframes fade { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}