*
{
	margin: 0;
	padding: 0;
}

body
{
	color: #888888;
	font-family: "helvetica", "arial", sans-serif;
	background-color: #000000;
	z-index: 1;
}


#header
{
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #888888;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#news
{
	height: 80px;
	border-top: 1px solid #888888;
	width: 1757px;
	position: fixed;
	bottom: 30px;
	left: 0;
}

#news p
{
	color: #888888;
	background-color: rgba(256, 256, 256, 0.3);
	border-left: 1px solid black;
	height: 100%;
	width: 250px;
	display: inline-block;
}

#news p:hover
{
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.6);
}

#footer
{
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 1px solid #888888;
	font-size: 12px;
	height: 22px;
	padding-top: 8px;
	text-indent: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#footer a
{
	color: #999999;
	text-decoration: none;
}

#footer a:hover
{
	color: #cccccc;
}

#footer span
{
	float: right;
	position: absolute;
	right: 10px;
}