#menu
{
	font-family: HelveticaNeueCondensedBold;
	position: absolute;
	bottom: 110px;
	left: 0;
	right: 0;
}

@font-face
{
	font-family: HelveticaNeueCondensedBold;
	src: url("HelveticaNeueCondensedBold.woff");
}

#menu div
{
	border-top: 1px solid #888888;
	display: block;
	text-transform: uppercase;
}

#menu a
{
	color: rgba(256,256,256,0.3);
	font-weight: bold;
	font-size: 76px;
	text-decoration: none;
}

#menu div span
{
	position: absolute;
	top: 10;
}

#menu div span a
{
	color: rgba(0, 0, 0, 0);
	font-size: 28px;
	margin-left: 10px;
}

#menu div:hover
{
	background-color: rgba(0, 0, 0, 0.6);
}

#menu div:hover a
{
	color: #ffffff;
}

#menu div:hover span a
{
	color: rgba(256, 256, 256, 0.3);
}